# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Environment files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Python virtual environments
venv/
env/
.venv/

# Jupyter runtime
*.json
*.log
*.sqlite

# Data files
*.csv
*.tsv
*.parquet
*.h5
*.hdf5
*.db
*.pkl
*.joblib

# Secret files
secrets.*
credentials.*

# OS-specific files
Thumbs.db
desktop.ini